{% set title = entry.title %}

{% extends "_layout" %}
{% block content %}

<div id="mount-project"></div>

<script>
	var PROJECT = {{ entry | json_encode | raw }};
	var CLIENT = {{ entry.client.one() | json_encode | raw }};
	var SCREENS = [
		{% for screen in entry.screens.all() %}
		{
			id: {{ screen.id }},
			title: {{ screen.screenTitle | json_encode | raw }},
			images: {
				{% if screen.desktop.desktopImage|length %}
				desktop: {
					url: {{ screen.desktop.desktopImage.one().url | json_encode | raw }},
					width: {{ screen.desktop.desktopImage.one().width }},
					retina: {{ screen.desktop.desktopRetina | json_encode | raw }},
				},
				{% endif %}

				{% if screen.tablet.tabletImage|length %}
				tablet: {
					url: {{ screen.tablet.tabletImage.one().url | json_encode | raw }},
					width: {{ screen.tablet.tabletImage.one().width }},
					retina: {{ screen.tablet.tabletRetina | json_encode | raw }},
				},
				{% endif %}

				{% if screen.mobile.mobileImage|length %}
				mobile: {
					url: {{ screen.mobile.mobileImage.one().url | json_encode | raw }},
					width: {{ screen.mobile.mobileImage.one().width }},
					retina: {{ screen.mobile.mobileRetina | json_encode | raw }},
				},
				{% endif %}
			}
		},
		{% endfor %}
	];
</script>

<script src="/dist/project.js"></script>

{% endblock %}