{% set title = entry.title %}

{% extends "_layout" %}
{% block content %}

{% set imageTransform = {auto: 'compress,format'} %}
{% set imageUrls = [] %}

<div id="mount-project"></div>

<script>
	var PROJECT = {{ entry | json_encode | raw }};
	var CLIENT = {{ entry.client.one() | json_encode | raw }};
	var SCREENS = [
		{% for screen in entry.screens.all() %}
		{
			id: {{ screen.id }},
			title: {{ screen.screenTitle | json_encode | raw }},
			backgroundColor: {{ screen.backgroundColor | json_encode | raw }},
			images: {
				{% if screen.desktop.desktopImage|length %}
				{% set desktopAsset = screen.desktop.desktopImage.one() %}
				{% if craft.app.plugins.isPluginEnabled('imgix') %}
					{% set desktopUrl = craft.imgix.transformImage(desktopAsset, imageTransform).url %}
				{% else %}
					{% set desktopUrl = desktopAsset.url %}
				{% endif %}
				{% set imageUrls = imageUrls | merge([desktopUrl]) %}
				desktop: {
					url: {{ desktopUrl | json_encode | raw }},
					width: {{ desktopAsset.width }},
					retina: {{ screen.desktop.desktopRetina | json_encode | raw }},
				},
				{% endif %}

				{% if screen.tablet.tabletImage|length %}
				{% set tabletAsset = screen.tablet.tabletImage.one() %}
				{% if craft.app.plugins.isPluginEnabled('imgix') %}
					{% set tabletUrl = craft.imgix.transformImage(tabletAsset, imageTransform).url %}
				{% else %}
					{% set tabletUrl = tabletAsset.url %}
				{% endif %}
				{% set imageUrls = imageUrls | merge([tabletUrl]) %}
				tablet: {
					url: {{ tabletUrl | json_encode | raw }},
					width: {{ tabletAsset.width }},
					retina: {{ screen.tablet.tabletRetina | json_encode | raw }},
				},
				{% endif %}

				{% if screen.mobile.mobileImage|length %}
				{% set mobileAsset = screen.mobile.mobileImage.one() %}
				{% if craft.app.plugins.isPluginEnabled('imgix') %}
					{% set mobileUrl = craft.imgix.transformImage(mobileAsset, imageTransform).url %}
				{% else %}
					{% set mobileUrl = mobileAsset.url %}
				{% endif %}
				{% set imageUrls = imageUrls | merge([mobileUrl]) %}
				mobile: {
					url: {{ mobileUrl | json_encode | raw }},
					width: {{ mobileAsset.width }},
					retina: {{ screen.mobile.mobileRetina | json_encode | raw }},
				},
				{% endif %}
			}
		},
		{% endfor %}
	];
</script>

<script src="/dist/project.js"></script>


{% for imageUrl in imageUrls %}
<link rel="preload" href="{{ imageUrl }}" as="image">
{% endfor %}

{% endblock %}